.high5_presentation_produit{
    margin-bottom:10px;
    border-bottom: 1px solid #d9d9d9;
}

.high5_product_block{
    display: flex;
    align-items: center;
    padding:10px 0px;
    gap:5px;
}
.high5_select_container{
    margin: 10px 0;
}
.variations_form select, .high5_block_additionnal_product select {
        padding:10px;
}

.high5_product_block label{
    margin:0;
}
.high5_block_additionnal_product {
    margin-bottom: 20px;
}
.high5_add_product_name{
    margin-bottom:5px;
}
