.high5_presentation_produit{
    margin-bottom:10px;
}

.high5_product_block{
    display: flex;
    align-items: center;
    padding:10px 0px;
    gap:5px;
    width: max-content;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    border-radius: 10px;
}
.high5_select_container{
    margin: 10px 0;
}
.variations_form select, .high5_block_additionnal_product select {
        padding:10px;
}

.high5_product_block label{
    margin:0;
    display: flex;
    align-items: center;
    gap:20px;
}

.high5_product_block  label span.woocommerce-Price-amount.amount{
    font-size: 1rem ;
    color:initial ;
    display: inline-block;
    margin-bottom: 0px ;
    
}
.high5_block_additionnal_product {
    margin-bottom: 20px;
    flex: 100% !important;
    display: block !important;
}
.high5_add_product_name{
    margin-bottom:5px;
}
